<div class="container p-4 mx-auto" *ngIf="!isConnected" >


  <div  class="flex flex-col items-center justify-center px-5 py-8 mx-auto md:h-screen lg:py-0">

    <div class="w-full bg-white rounded-lg shadow mt-0 sm:max-w-md xl:p-0">
      <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
          <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl">Réinitialisation du mot de passe</h1>
           <form (ngSubmit)="updatePassword()">
          <div class="form-group">
            <label for="email "  class="block mb-2 text-sm font-medium text-gray-900">Adresse email</label>
            <input type="email" class="form-control" id="email" [(ngModel)]="email" name="email" required>
          </div>
          <div class="form-group">
            <label for="password"  class="block mb-2 text-sm font-medium text-gray-900">Nouveau mot de passe</label>
            <input type="password" class="form-control" id="password" [(ngModel)]="password" name="password" required>
          </div>
            <button  type="submit" class="w-full text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">Réinitialiser le mot de passe</button>
           </form>
            <p class="text-danger">{{ errorMessage }}</p>
          </div>

        <div *ngIf="isConnected">
        <p>Vous êtes déjà connecté.</p>
    </div>
  </div>
</div>

  