<footer class="bg-gray-900 text-primary-500 py-8">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex flex-wrap justify-between">
      <div class="w-full lg:w-1/4 mb-8 lg:mb-0">
        <h3 class="text-xl font-bold mb-4">ePharma</h3>
        <p class="text-gray-400 leading-loose">
          Achetez en toute confiance avec Epharma.
        </p>
      </div>
      <div class="w-full lg:w-1/4 mb-8 lg:mb-0">
        <h3 class="text-xl font-bold mb-4">Liens utiles</h3>
        <ul class="list-reset">
          <li>
            <a href="#" class="text-gray-400 hover:text-primary-500">FAQ</a>
          </li>
          <li>
            <a href="#" class="text-gray-400 hover:text-primary-500"
              >Contactez-nous</a
            >
          </li>
          <li>
            <a href="#" class="text-gray-400 hover:text-primary-500"
              >Conditions générales de vente</a
            >
          </li>
          <li>
            <a href="#" class="text-gray-400 hover:text-primary-500"
              >Politique de confidentialité</a
            >
          </li>
        </ul>
      </div>
      <div class="w-full lg:w-1/4 mb-8 lg:mb-0">
        <h3 class="text-xl font-bold mb-4">Nous suivre</h3>
        <ul class="list-reset">
          <li>
            <a href="#" class="text-gray-400 hover:text-primary-500"
              >Facebook</a
            >
          </li>
          <li>
            <a href="#" class="text-gray-400 hover:text-primary-500">Twitter</a>
          </li>
          <li>
            <a href="#" class="text-gray-400 hover:text-primary-500"
              >Instagram</a
            >
          </li>
          <li>
            <a href="#" class="text-gray-400 hover:text-primary-500"
              >Pinterest</a
            >
          </li>
        </ul>
      </div>
      <div class="w-full lg:w-1/4">
        <h3 class="text-xl font-bold mb-4">
          Inscrivez-vous à notre newsletter
        </h3>
        <form class="flex">
          <input
            type="email"
            class="bg-gray-800 text-primary-500 py-2 px-3 rounded-l w-3/4"
            placeholder="Votre adresse email"
          />
          <button class="bg-primary-500 text-white py-4 px-7 rounded-r w-1/4">
            Go
          </button>
        </form>
      </div>
    </div>
    <hr class="border-primary-500 my-8" />
    <div class="text-gray-400 text-sm">
      © 2023 ePharma - Tous droits réservés
    </div>
  </div>
</footer>
