<div
  class="flex flex-col w-64 px-4 space-y-2 items-start border-r-2 border-primary-600 h-full flex-shrink-0"
>
  <a
    routerLink="/admin/clients"
    class="py-2 px-3 rounded-lg hover:bg-primary-400 hover:text-white w-full"
    >Clients</a
  >
  <a
    routerLink="/admin/commandes"
    class="py-2 px-3 rounded-lg hover:bg-primary-400 hover:text-white w-full"
    >Commandes</a
  >
  <a
    routerLink="/admin/produits"
    class="py-2 px-3 rounded-lg hover:bg-primary-400 hover:text-white w-full"
    >Produits</a
  >
</div>
