<div class="h-[80vh] relative">
  <div
    class="relative z-10 flex flex-col items-center justify-center h-full gap-8 p-2"
  >
    <p
      class="text-4xl font-semibold text-center text-white md:w-2/3 md:text-5xl lg:text-6xl lg:leading-normal"
    >
      Trouvez les soins dont vous avez besoin en un clic avec notre
      <span class="text-primary-500">pharmacie</span> en ligne de
      <span class="text-primary-500">confiance</span>.
    </p>
    <button>
      <a
        href="http://localhost:4200/shop"
        class="p-5 bg-primary-500 rounded-md text-white font-semibold border-2 transition ease-out duration-500 border-primary-500 uppercase min-w-[200px] hover:bg-transparent hover:text-primary-500"
      >
        Voir plus
      </a>
    </button>
  </div>
  <img
    src="/assets/img/carousel1.jpg"
    class="h-full w-full object-cover absolute top-0 left-0 filter brightness-[0.25]"
    alt="image"
  />
</div>

<div class="w-full bg-primary-600 md:h-[60vh] flex flex-col md:flex-row">
  <div class="w-full h-1/2 md:w-1/2 md:h-full">
    <img src="/assets/img/carousel3.jpg" class="object-cover w-full h-full" />
  </div>
  <div
    class="flex flex-col gap-8 p-5 mt-5 md:p-10 w-100 md:mt-0 md:w-1/2 md:items-left md:justify-center"
  >
    <h2
      class="text-4xl font-semibold tracking-wide text-center text-white uppercase md:text-left lg:text-6xl"
    >
      Pourquoi EPHARMA?
    </h2>
    <p class="text-2xl leading-relaxed text-white">
      Epharma est une pharmacie en ligne fiable et pratique, proposant une large
      sélection de produits de santé à des prix compétitifs, avec une livraison
      rapide et un service clientèle de qualité. Achetez en toute confiance avec
      Epharma.
    </p>
  </div>
</div>
<div class="container flex items-center p-10 pt-20 mx-auto justify-evenly">
  <div class="flex flex-col items-center justify-center w-40 h-40 gap-3">
    <img src="/assets/icons/shipped.png" class="object-contain w-full h-full" />
    <p class="text-xl font-semibold text-center uppercase">Livraison rapide</p>
  </div>
  <div class="flex flex-col items-center justify-center w-40 h-40 gap-3">
    <img
      src="/assets/icons/customer-service.png"
      class="object-contain w-full h-full"
    />
    <p class="text-xl font-semibold text-center uppercase">Support 24/7</p>
  </div>
  <div class="flex flex-col items-center justify-center w-40 h-40 gap-3">
    <img src="/assets/icons/advice.png" class="object-contain w-full h-full" />
    <p class="text-xl font-semibold text-center uppercase">
      Conseils et informations
    </p>
  </div>
</div>
<div
  class="container flex flex-col items-center justify-center gap-10 py-20 mx-auto"
>
  <p class="font-serif text-xl italic text-primary-500 md:text-3xl">
    Nouveautés
  </p>
  <h2 class="mb-10 text-3xl font-bold sm:text-4xl md:text-5xl">
    Nos derniers produits
  </h2>
  <div class="grid gap-16 lg:grid-cols-3">
    <div
      *ngFor="let p of produits"
      class="flex flex-col items-center justify-center border-[1px] border-primary-200 rounded-md p-5 hover:scale-105 transition ease-in-out duration-300 hover:cursor-pointer"
    >
      <a routerLink="shop/{{ p.id }}">
        <div class="w-64 h-64">
          <img
            src="{{ imgUrl }}/{{ p.image }}"
            class="object-cover w-full h-full"
          />
        </div>
      </a>
      <h4 class="mb-5 text-xl font-medium uppercase">{{ p.nom }}</h4>
      <p class="text-xl font-medium text-primary-500">{{ p.prix }} €</p>
    </div>
  </div>
</div>
<div class="w-full text-white bg-primary-600">
  <div
    class="container flex flex-col items-center justify-center gap-10 py-20 mx-auto"
  >
    <p class="font-serif text-xl italic md:text-3xl">Testimoniaux</p>
    <h2 class="mb-10 text-3xl font-bold sm:text-4xl md:text-5xl">
      Des clients satisfaits
    </h2>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4">
      <blockquote
        *ngFor="let t of testimoniaux"
        class="flex flex-col items-center justify-center w-full p-8 text-center md:items-start md:flex-start md:text-left"
      >
        <div
          class="flex flex-col items-center justify-center gap-4 md:flex-row"
        >
          <img
            src="/assets/img/ratings/{{ t.image }}"
            class="object-cover w-16 h-16 rounded-full"
          />

          <div class="text">
            <p class="font-medium">{{ t.nom }} {{ t.prenom.charAt(0) }}.</p>
          </div>
        </div>

        <p class="relative mt-4">
          <span class="text-xl">&ldquo;</span>

          {{ t.message }}

          <span class="text-xl">&rdquo;</span>
        </p>
      </blockquote>
    </div>
  </div>
</div>
