<div
  class="container mx-auto flex flex-col md:flex-row py-3 min-h-[65vh] space-x-20"
>
  <app-admin-navbar></app-admin-navbar>
  <div class="flex flex-col w-full gap-4">
    <div class="grid grid-cols-1 md:grid-cols-2 w-full gap-4">
      <div class="flex flex-col" *ngIf="client">
        <div class="w-full bg-white rounded-lg shadow mt-0 xl:p-0">
          <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
            <div>
              <h1
                class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl"
              >
                Modifier le profil
              </h1>
            </div>

            <div>
              <label class="block mb-2 text-sm font-medium text-gray-900"
                >Id:</label
              >
              <input
                class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5"
                [(ngModel)]="client.id"
                placeholder="Id"
                readonly
              />
            </div>
            <div>
              <label class="block mb-2 text-sm font-medium text-gray-900"
                >Email:</label
              >
              <input
                class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5"
                [(ngModel)]="client.email"
                placeholder="Email"
                type="email"
                readonly
              />
            </div>
            <div>
              <label class="block mb-2 text-sm font-medium text-gray-900"
                >Nom:</label
              >
              <input
                class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5"
                [(ngModel)]="client.nom"
                placeholder="Nom"
              />
            </div>

            <div>
              <label class="block mb-2 text-sm font-medium text-gray-900"
                >Prénom:</label
              >
              <input
                class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5"
                [(ngModel)]="client.prenom"
                placeholder="Prénom"
              />
            </div>

            <div>
              <label class="block mb-2 text-sm font-medium text-gray-900"
                >Adresse:</label
              >
              <input
                class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5"
                [(ngModel)]="client.adresse"
                placeholder="Adresse"
              />
            </div>

            <button
              type="submit"
              class="w-full text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center"
              (click)="update(client.id)"
            >
              Modifier
            </button>
            <div
              *ngIf="!stateUpdate.error && stateUpdate.message"
              class="bg-green-100 border border-green-400 text-gred-700 px-4 py-3 rounded relative"
              role="alert"
            >
              <span class="block sm:inline">{{ stateUpdate.message }}</span>
            </div>
            <div
              *ngIf="stateUpdate.error"
              class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative"
              role="alert"
            >
              <span class="block sm:inline">{{ stateUpdate.message }}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="flex flex-col gap-4" *ngIf="client">
        <div class="w-full bg-white rounded-lg shadow mt-0 xl:p-0">
          <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
            <div>
              <h1
                class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl"
              >
                Reinitialiser le mot de passe
              </h1>
            </div>

            <div>
              <label class="block mb-2 text-sm font-medium text-gray-900"
                >Nouveau mot de passe:</label
              >
              <input
                class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5"
                type="password"
                name="newPassword"
                placeholder="••••••••"
                [(ngModel)]="newPassword"
              />
            </div>

            <div>
              <button
                class="w-full text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center"
                (click)="updatePassword(client.id, client)"
              >
                Reinitialiser
              </button>
            </div>
            <div
              *ngIf="!stateUpdatePassword.error && stateUpdatePassword.message"
              class="bg-green-100 border border-green-400 text-gred-700 px-4 py-3 rounded relative"
              role="alert"
            >
              <span class="block sm:inline">{{
                stateUpdatePassword.message
              }}</span>
            </div>
            <div
              *ngIf="stateUpdatePassword.error"
              class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative"
              role="alert"
            >
              <span class="block sm:inline">{{
                stateUpdatePassword.message
              }}</span>
            </div>
          </div>
        </div>
        <div
          class="w-full border-[1px] border-red-600 bg-white rounded-lg shadow mt-0 xl:p-0"
        >
          <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
            <div>
              <h1
                class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl"
              >
                Supprimer le client
              </h1>
            </div>
            <div>
              <label class="block mb-2 text-sm font-medium text-gray-900"
                >Email:</label
              >
              <input
                class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5"
                [(ngModel)]="email"
                placeholder="Email"
                type="email"
              />
            </div>
            <div>
              <button
                class="w-full text-white bg-red-600 hover:bg-red-700 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center"
                (click)="deleteClient(client.id, email, client)"
              >
                Supprimer
              </button>
            </div>
            <div
              *ngIf="!stateDelete.error && stateDelete.message"
              class="bg-green-100 border border-green-400 text-gred-700 px-4 py-3 rounded relative"
              role="alert"
            >
              <span class="block sm:inline">{{ stateDelete.message }}</span>
            </div>
            <div
              *ngIf="stateDelete.error"
              class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative"
              role="alert"
            >
              <span class="block sm:inline">{{ stateDelete.message }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="flex w-full gap-4">
      <div class="flex flex-col w-full" *ngIf="client">
        <div class="w-full bg-white rounded-lg shadow mt-0 xl:p-0">
          <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
            <div>
              <h1
                class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl"
              >
                Commandes
              </h1>
            </div>

            <div
              *ngIf="client.commandes.length == 0"
              class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative"
              role="alert"
            >
              <span class="block sm:inline"
                >Ce client n'a pas de commandes</span
              >
            </div>
            <div
              class="flex flex-col w-full"
              *ngIf="client.commandes.length > 0"
            >
              <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
                <table class="w-full text-sm text-left text-gray-500">
                  <thead class="text-xs text-gray-700 uppercase bg-gray-50">
                    <tr>
                      <th scope="col" class="px-6 py-3">Id</th>
                      <th scope="col" class="px-6 py-3">Prix Total</th>
                      <th scope="col" class="px-6 py-3">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr
                      *ngFor="let c of client.commandes"
                      class="bg-white border-b"
                    >
                      <th
                        scope="row"
                        class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap"
                      >
                        {{ c.id }}
                      </th>
                      <td class="px-6 py-4">{{ c.prixTotal }} €</td>
                      <td class="px-6 py-4">
                        <a
                          routerLink="/admin/commandes/{{ c.id }}"
                          class="font-medium text-primary-600"
                          >Voir</a
                        >
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
